BASE_URL="http://localhost:3000"
EVM_PAYEE_ADDRESS="0xd1847CfdE1b1b2ba1a947a48dc7e274fbB914090"
CDP_API_KEY_ID="replace_with_cdp_api_key_id"
CDP_API_KEY_SECRET="replace_with_cdp_api_key_secret"
MPP_SECRET_KEY="replace_with_32_byte_hex"
MPP_CURRENCY="0x20c000000000000000000000b9537d11c60e8b50"
